<form [formGroup]="form">
  <br>
  <span class="invalid-text" *ngIf="form.controls.firstName.invalid">Enter Name</span><br>
  <label>Name:
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <span class="invalid-text" *ngIf="form.controls.lastName.errors?.required">
    Enter surname
  </span><br>
  <label>Surname:
    <input type="text" formControlName="lastName"><br>
    <span class="invalid-text" *ngIf="form.controls.lastName.errors?.minlength">
      Min lenght is 3 letters
    </span>

  </label>
  <br>
  <button type="button" class="save_button" [disabled]="form.invalid" (click)="savePerson()">save person</button>
</form>
