<form [formGroup]="form">
  <br>
  <p class="invalid-text" *ngIf="form.controls.firstName.invalid">Enter Name</p>
  <label>Name:
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <p class="invalid-text" *ngIf="form.controls.lastName.errors?.required">
    Enter surname
  </p>
  <label>Surname:
    <input type="text" formControlName="lastName">
    <p class="invalid-text" *ngIf="form.controls.lastName.errors?.minlength">
      Min lenght is 3 letters
    </p>

  </label>
  <br>
  <button type="button" [disabled]="form.invalid" (click)="savePerson()">save person</button>
</form>
