<form [formGroup]="form">
  <br>
  <label>name:
    <input type="text" formControlName="name">
    <p class="invalid-text" *ngIf="form.controls.name.invalid">Zadajte meno</p>
  </label>
  <br>
  <label>surname:
    <input type="text" formControlName="surname">
    <p class="invalid-text" *ngIf="form.controls.surname.errors?.minlength">
      Minimalna dlzka je 3 znaky
    </p>
    <p class="invalid-text" *ngIf="form.controls.surname.errors?.required">
      Vlozte priezvisko
    </p>
  </label>
  <br>
  <button type="button" [disabled]="form.invalid" (click)="savePerson()">save person</button>
</form>
