<form [formGroup]="formBooks">
  <br>
  <label>title:
    <input type="text" formControlName="title">
    <p class="invalid-text" *ngIf="formBooks.controls.title.invalid">Zadajte nazov</p>
  </label>
  <br>
  <label>author:
    <input type="text" formControlName="author">
    <p class="invalid-text" *ngIf="formBooks.controls.author.invalid">Zadajte meno autora</p>
  </label>
  <br>
  <label>available:
    <input type="text" formControlName="available">
    <p class="invalid-text" *ngIf="formBooks.controls.available.invalid">Zadajte pocet knih</p>
  </label>
  <br>
  <button [disabled]="formBooks.invalid" (click)="addBook()">Pridaj</button>
</form>
