<form [formGroup]="formBooks">
  <br>
  <label>
    <span class="invalid-text" *ngIf="formBooks.controls.title.invalid">Enter title</span><br>
    Title:
    <input type="text" formControlName="title">
  </label>
  <br>
  <label>
    <span class="invalid-text" *ngIf="formBooks.controls.author.invalid">Enter author name</span><br>
    Author:
    <input type="text" formControlName="author">
  </label>
  <br>
  <label>
    <span class="invalid-text" *ngIf="formBooks.controls.available.invalid">Enter number of books</span><br>
    Available:
    <input type="text" formControlName="available">
  </label>
  <br>
  <button [disabled]="formBooks.invalid" (click)="addBook()">Add book</button>
</form>
