header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
}

label {
  display:block;
  clear:both;
}
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}
.active:active {
  color: red;
}


/*//////////////////MENU///////////////////////////////*/
.menu{
  margin: 10px;
  position: fixed;
  top: 0;
  border-bottom: 3px solid #4B6043;
}
button{
  border: none;
  background-color: #ddead1;
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
button:hover{
  color: #4B6043;
}
.log_out{
  margin: 10px;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 3px solid #4B6043;
}
