<div class="header">


  <input #input (change)="ZmenaCislo(input.valueAsNumber)" type="number" [value]="enteredNumber"/><br>
  <input (change)="ZmenaCheckboxu(0) "type="checkbox" [checked]="checkbox[0]"/>
  <input (change)="ZmenaCheckboxu(1) "type="checkbox" [checked]="checkbox[1]"/>
  <input (change)="ZmenaCheckboxu(2) "type="checkbox" [checked]="checkbox[2]"/>
  <input (change)="ZmenaCheckboxu(3) "type="checkbox" [checked]="checkbox[3]"/>
  <input (change)="ZmenaCheckboxu(4) "type="checkbox" [checked]="checkbox[4]"/>
  <input (change)="ZmenaCheckboxu(5) "type="checkbox" [checked]="checkbox[5]"/>
  <input (change)="ZmenaCheckboxu(6) "type="checkbox" [checked]="checkbox[6]"/>
  <input (change)="ZmenaCheckboxu(7) "type="checkbox" [checked]="checkbox[7]"/>

  </div>
